<div class="navigation">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url('home_page') }}">Netflex</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li {{ ('home_page' == app.request.attributes.get('_route')) ? 'class="active"' : '' }}><a href="{{ url('home_page') }}">Home</a></li>
					<li {{ ('client_book_a_shipment' == app.request.attributes.get('_route')) ? 'class="active"' : '' }}><a id="bookAShipment" href="{{ url('client_book_a_shipment') }}">Book a Shipment</a></li>
					<li><a href="{{ url('home_page') }}">Track Order </a></li>
					<li {{ ('customer-enquiry' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }}><a href="{{ url('cms_page', { 'cmsPageSlug': 'customer-enquiry' }) }}">Customer Enquiry</a></li>
					<li {{ ('client' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }}><a href="{{ url('cms_page', { 'cmsPageSlug': 'client' }) }}">Clients</a></li>
					<li {{ ('franchisee' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }}><a href="{{ url('cms_page', { 'cmsPageSlug': 'franchisee' }) }}">Franchisee</a></li>
					<li {{ ('about-us' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }} class="visible-xs"><a href="{{ url('cms_page', { 'cmsPageSlug': 'about-us' }) }}">About Us</a></li>
					<li {{ ('career' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }} class="visible-xs"><a href="{{ url('cms_page', { 'cmsPageSlug': 'career' }) }}">Career</a></li>
					<li {{ ('contact' == app.request.attributes.get('cmsPageSlug')) ? 'class="active"' : '' }} class="visible-xs"><a href="{{ url('cms_page', { 'cmsPageSlug': 'contact' }) }}">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
</div>