{% extends 'NetFlexFrontBundle::base_layout.html.twig' %}
{% block pageTitle %}
	{{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageStyles %}
    {{ parent() }}
    <style>
        #gdServerFault, #cpServerFault{
            color: #ff3333;
        }
        .validationError{
            color: #ff3333;
            margin-left: 5px;
        }
    </style>
{% endblock %}
{% block pageContent %}
	<div class="container">
		<div class="tabform clearfix">
			<div class="TrackHead clearfix">
				<!--title-->
				<div class="col-lg-6">
					<div class="row">
						<h1><span>My</span> Account</h1>
					</div>
				</div>
				<!--title-->
			</div>
			
			<div class="tracktable clearfix">
				<!--fixed element-->
				<div class="col-lg-3">
					<div class="row">
						<div id="sidebar">
							<div class="accImg">
								{% image '@NetFlexFrontBundle/Resources/public/images/myaccount/myAccPic.jpg' %}
									<img src="{{ asset_url }}" alt="{{ client.username }}-profile-pic">
								{% endimage %}
							</div>
							<div class="editpic"><a href="#">Edit Picture</a></div>
							<ul class="myaccBtn">
								<li><a href="javascript:void(0);">My Consignments</a></li>
								<li><a href="javascript:void(0);">Track a Shipment</a></li>
								<li><a href="javascript:void(0);">Book a Shipment</a></li>
								<li><a href="javascript:void(0);">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--fixed element-->
				
				<!--information-->
				<div class="col-lg-9">
					<div class="row">
						<div class="infEdit">
							<h1>{{ client.firstName ~ ' ' ~ client.lastName }}</h1>
							<!--edit block-->
							<div class="editBlk">
								<!--heading-->
								<div class="editHeading clearfix">
									<ul>
										<li><h2>Basic Info</h2></li>
										<li class="edit"><a id="basicInfoEdit" href="javascript:void(0)">edit</a></li>
									</ul>
								</div>
								<!--heading-->
								<!--basic info form-->
								<div id="basicInfo">
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Name :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												<label>{{ client.firstName ~ ((client.midName) ? ' ' ~ client.midName : '') ~ ' ' ~ client.lastName }}</label>
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Username :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												<label>{{ client.username }}</label>
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Email :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												{% for email in client.emails %}
													<label>{{ email.email }}</label>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Contact No. :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												{% for contact in client.contacts %}
													<label>{{ contact.contactNumber }}</label>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div id="basicInfo1">
									<div class="basicInfoEditableForm clearfix">
										{{ form_start(gdForm, { 'action': url('client_profile_page'), 'attr': { 'id': 'gdForm', 'novalidate': 'novalidate' } }) }}
                                        <div id="gdServerFault" class="row message" style="display: none;">
                                            <div class="col-lg-12">
                                                Server error encountered.
                                            </div>
                                        </div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>First Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.firstName, { 'id': 'firstName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Mid Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.midName, { 'id': 'midName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Last Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.lastName, { 'id': 'lastName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Username :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.username, { 'id': 'username' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Email :</label>
												</div>
											</div>
											<div class="col-lg-10">
												{% for email in gdForm.emails %}
													<div class="row">
														{{ form_widget(email.email, { 'id': 'email' }) }}
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Contact No. :</label>
												</div>
											</div>
											<div class="col-lg-10">
												{% for contact in gdForm.contacts %}
													<div class="row">
														{{ form_widget(contact.contactNumber, { 'id': 'contactNumber' }) }}
													</div>
												{% endfor %}
											</div>
										</div>
										{{ form_end(gdForm) }}
										<!--save and cancel button-->
										<div class="savecancel">
											<ul>
												<li><a id="basicInfoUpdate" href="javascript:void(0);">save</a></li>
												<li><a id="basicInfoCancel" href="javascript:void(0)">cancel</a></li>
											</ul>
										</div>
										<!--save and cancel button-->
									</div>
								</div>
								<!--basic info form-->
								<!--password-->
								<div id="changePass">
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">&nbsp;</div>
										</div>
										<div class="col-lg-6">
											<div class="row">&nbsp;</div>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<a id="changePassShow" href="javascript:void(0)">Change Password</a>
											</div>
										</div>
									</div>
								</div>
								<div id="changePassBox">
									<div class="basicInfoEditableForm2 clearfix">
										<div class="">
                                            {{ form_start(cpForm, { 'action': url('client_profile_page'), 'attr': { 'id': 'cpForm', 'novalidate': 'novalidate' } }) }}
                                            <div id="cpServerFault" class="row message" style="display: none;">
                                                <div class="col-lg-12">
                                                    Server error encountered.
                                                </div>
                                            </div>
                                            <div class="editformblk2 clearfix">
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.oldPassword, { 'id': 'oldPassword', 'attr': { 'placeholder': 'Old Password' } }) }}
                                                </div>
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.password, { 'id': 'password', 'attr': { 'placeholder': 'New Password' } }) }}
                                                </div>
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.repeatPassword, { 'id': 'repeatPassword', 'attr': { 'placeholder': 'Repeat Password' } }) }}
                                                </div>
                                            </div>
                                            <!--save and cancel button-->
                                            <div class="savecancel">
                                                <ul>
                                                    <li><a id="changePassButton" href="javascript:void(0);">save</a></li>
                                                    <li><a id="changePassCancel" href="javascript:void(0)">cancel</a></li>
                                                </ul>
                                            </div>
                                            <!--save and cancel button-->
                                            {{ form_end(cpForm) }}
										</div>
									</div>
								</div>
								<!--password-->
							</div>
							<!--edit block-->
						</div>
					</div>
                    <!--billing address-->
                    <!--heading-->
                    <div class="editHeading-1 clearfix">
                        <ul>
                            <li><h2>Billing Address</h2></li>
                        </ul>
                    </div>
                    <!--heading-->
                    {% if clientBillingAddresses %}
                        {% for key, clientBillingAddress in clientBillingAddresses %}
                            <div class="editBlk-1">
                                <div class="billingAddress">
                                    <div class="editformblk clearfix">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <label>{{ clientBillingAddress.addressLine1 }}, {{ clientBillingAddress.stateId.name }}-{{ clientBillingAddress.zipCode }}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                {% if clientBillingAddress.isPrimary %}
                                                    <div class="default">Default Billing Address</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <div class="edit">
                                                    <a class="editBillAdd" href="javascript:void(0)">edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_start(baForms[key], { 'action': url('client_profile_page'), 'attr': { 'class': 'baForms', 'novalidate': 'novalidate', 'style': 'display: none;' } }) }}
                                <div class="billingAddForm clearfix">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <!--left-->
                                            <td valign="top" class="billAddLeft">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            {{ form_widget(baForms[key].addressLine1, { 'attr': { 'class': 'addressLine1', 'placeholder': 'Address Line 1' } }) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{ form_widget(baForms[key].addressLine2, { 'attr': { 'class': 'addressLine2', 'placeholder': 'Address Line 2' } }) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{ form_widget(baForms[key].countryId, { 'attr': { 'class': 'countryId' } }) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" width="48%">
                                                                <tr>
                                                                    <td class="textLeft">
                                                                        {{ form_widget(baForms[key].stateId, { 'attr': { 'class': 'stateId' } }) }}
                                                                    </td>
                                                                    <td class="textRight">
                                                                        {{ form_widget(baForms[key].cityId, { 'attr': { 'class': 'cityId' } }) }}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--left-->
                                            <!--right-->
                                            <td valign="top" class="billAddRight">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            {{ form_widget(baForms[key].zipCode, { 'attr': { 'class': 'zipCode' } }) }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--right-->
                                        </tr>
                                        <!--default delete save-->
                                        <tr>
                                            <td class="defDelSave">
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ form_widget(baForms[key].isPrimary, { 'attr': { 'class': 'zipCode' } }) }}
                                                                <span class="cr"><i class="cr-icon glyphicon fa fa-check"></i></span>
                                                                Default Billing Address
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="row">
                                                        <div class="delAdd">
                                                            <a href="javascript:void(0);">Delete Address</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="row">
                                                        <div class="savecancel">
                                                            <ul>
                                                                <li><a href="javascript:void(0);" class="updateBillingAddress">save</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!--default delete save-->
                                    </table>
                                </div>
                                {{ form_end(baForms[key]) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!--add more-->
                    <div id="addMoreAddContent">
                    </div>
                    <div class="billAddMore">
                        <a href="javascript:void(0)" id="addMoreAdd"><i class="fa fa-plus"></i>&nbsp;&nbsp;add more</a>
                    </div>
                    <!--add more-->
                    <!--billing address-->
				</div>
				<!--information-->
			</div>
		</div>
	</div>
	{% block footer %}
		{{ include('NetFlexFrontBundle:LayoutPartial:footer.html.twig') }}
	{% endblock %}
{% endblock %}
{% block pageScripts %}
	{{ parent() }}
	{% javascripts '@NetFlexFrontBundle/Resources/public/js/idTabs.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		$("#usual1 ul").idTabs();
		$(document).ready(function() {
			$("#basicInfoEdit, #basicInfoCancel").on("click", function(e) {
				$("#basicInfo, #basicInfo1").toggle();
			});
			$("#basicInfoUpdate").on("click", function(e) {
                if (! $(this).hasClass("disabled")) {
                    $.ajax({
                        url: $("#gdForm").attr("action"),
                        type: "post",
                        dataType: "json",
                        data: $("#gdForm").serialize(),
                        beforeSend: function(jqXHR, settings) {
                            $("#basicInfoUpdate .message").hide();
                            $("#gdForm .validationError").remove();
                            $("#basicInfoUpdate").addClass("disabled");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#gdServerFault").show();
                        },
                        success: function(data, textStatus,jqXHR) {
                            if (data.status) {
                                location.reload();
                            } else {
                                $.each(data.errorList, function(key, value) {
                                    $("#gdForm #" + key).after("<span class='validationError'>" + value + "</span>");
                                });
                            }
                        },
                        complete: function(jqXHR, textStatus) {
                            $("#basicInfoUpdate").removeClass("disabled");
                        }
                    });
                }
			});

            $("#changePassShow, #changePassCancel").on("click", function(e) {
                $("#changePass, #changePassBox").toggle();
            });

            $("#changePassButton").on("click", function(e) {
                if (! $(this).hasClass("disabled")) {
                    $.ajax({
                        url: $("#cpForm").attr("action"),
                        type: "post",
                        dataType: "json",
                        data: $("#cpForm").serialize(),
                        beforeSend: function(jqXHR, settings) {
                            $("#cpForm .message").hide();
                            $("#cpForm .validationError").remove();
                            $("#changePassButton").addClass("disabled");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#cpServerFault").show();
                        },
                        success: function(data, textStatus,jqXHR) {
                            if (data.status) {
                                location.reload();
                            } else {
                                $.each(data.errorList, function(key, value) {
                                    $("#cpForm #" + key).after("<span class='validationError'>" + value + "</span>");
                                });
                            }
                        },
                        complete: function(jqXHR, textStatus) {
                            $("#changePassButton").removeClass("disabled");
                        }
                    });
                }
            });

            $(".editBillAdd").click(function(){
                console.log($(this).parentsUntil(".editBlk-1").next());
                $(this).parentsUntil(".editBlk-1").next().toggle();
            });
            $(".updateBillingAddress").on("click", function(e) {
                $.ajax({
                    url: $(this).closest("form").attr("action"),
                    type: "post",
                    dataType: "json",
                    data: $(this).closest("form").serialize(),
                    beforeSend: function(jqXHR, settings) {
                        //
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        //
                    },
                    success: function(data, textStatus,jqXHR) {
                        //
                    },
                    complete: function(jqXHR, textStatus) {
                        //
                    }
                });
            });
		});
		$(document).ready(function () {
			

			
			$("#addMoreAdd").click(function(){
				$("#addMoreAddContent").toggle();
			});
			
			$("#addMorePick").click(function(){
				$("#addMorepickUpContent").toggle();
			});
		});
	</script>
{% endblock %}
