{% extends 'NetFlexFrontBundle::base_layout.html.twig' %}
{% block pageTitle %}
	{{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageStyles %}
    {{ parent() }}
	{% stylesheets 'bundles/netflexfront/css/jquery.auto-complete.css' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
    <style>
        #gdServerFault, #cpServerFault, .aServerFault{
            color: #ff3333;
        }
        .validationError{
            color: #ff3333;
            margin-left: 5px;
        }
	    .aValidationError{
		    color: #ff3333;
		    font-size:12px;
	    }
        .ppValidationError{
	        color: #ff3333;
        }
        .btn-file {
	        position: relative;
	        overflow: hidden;
        }
        .btn-file input[type=file] {
	        position: absolute;
	        top: 0;
	        right: 0;
	        min-width: 100%;
	        min-height: 100%;
	        font-size: 100px;
	        text-align: right;
	        filter: alpha(opacity=0);
	        opacity: 0;
	        outline: none;
	        background: white;
	        cursor: inherit;
	        display: block;
        }
    </style>
{% endblock %}
{% block pageContent %}
	<div class="container">
		<div class="tabform clearfix">
			<div class="TrackHead clearfix">
				<!--title-->
				<div class="col-lg-6">
					<div class="row">
						<h1><span>My</span> Account</h1>
					</div>
				</div>
				<!--title-->
			</div>
			
			<div class="tracktable clearfix">
				<!--fixed element-->
				<div class="col-lg-3">
					<div class="row">
						<div id="sidebar">
							<div class="accImg">
								{% if client.profileImage is empty %}
									{% image '@NetFlexFrontBundle/Resources/public/images/noImage.png' %}
										<img src="{{ asset_url }}" alt="{{ client.username }}-profile-pic">
									{% endimage %}
								{% else %}
									<img src="{{ asset(client.profileImage) }}" alt="{{ client.username }}-profile-pic">
								{% endif %}
							</div>
							<div class="editpic clearfix"><a id="editImage" href="javascript:void(0);">Edit Picture</a></div>
							<div id="uploadImageContainer" {{ (0 < ppForm.profileImage.vars.errors|length) ? '' : 'style="display:none"' }}>
							{{ form_start(ppForm) }}
								<span class="btn btn-success btn-file">
		                            <i class="fa fa-plus"></i>
		                            <span>Add file...</span>
									{{ form_widget(ppForm.profileImage, { 'id': 'profileImage', 'required': false }) }}
		                        </span>
								<span class="ppValidationError">{{ form_errors(ppForm.profileImage) }}</span>
								<input type="submit" value="upload" class="btn btn-primary">
								<a href="javascript:void(0);" id="cancelImageUpload" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
							{{ form_end(ppForm) }}
							</div>
							<ul class="myaccBtn">
								<li><a href="{{ url('client_own_order_list') }}">My Consignments</a></li>
								<li><a href="javascript:void(0);">Track a Shipment</a></li>
								<li><a href="{{ url('client_book_a_shipment') }}">Book a Shipment</a></li>
								<li><a href="{{ url('net_flex_client_logout') }}">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--fixed element-->
				
				<!--information-->
				<div class="col-lg-9">
					<div class="row">
						<div class="infEdit">
							<h1>{{ client.firstName ~ ' ' ~ client.lastName }}</h1>
							<!--edit block-->
							<div class="editBlk">
								<!--heading-->
								<div class="editHeading clearfix">
									<ul>
										<li><h2>Basic Info</h2></li>
										<li class="edit"><a id="basicInfoEdit" href="javascript:void(0)">edit</a></li>
									</ul>
								</div>
								<!--heading-->
								<!--basic info form-->
								<div id="basicInfo">
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Name :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												<label>{{ client.firstName ~ ((client.midName) ? ' ' ~ client.midName : '') ~ ' ' ~ client.lastName }}</label>
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Username :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												<label>{{ client.username }}</label>
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Email :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												{% for email in client.emails %}
													<label>{{ email.email }}</label>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">
												<label>Contact No. :</label>
											</div>
										</div>
										<div class="col-lg-10">
											<div class="row">
												{% for contact in client.contacts %}
													<label>{{ contact.contactNumber }}</label>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div id="basicInfo1">
									<div class="basicInfoEditableForm clearfix">
										{{ form_start(gdForm, { 'action': url('client_profile_page'), 'attr': { 'id': 'gdForm', 'novalidate': 'novalidate' } }) }}
                                        <div id="gdServerFault" class="row message" style="display: none;">
                                            <div class="col-lg-12">
                                                Server error encountered.
                                            </div>
                                        </div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>First Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.firstName, { 'id': 'firstName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Mid Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.midName, { 'id': 'midName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Last Name :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.lastName, { 'id': 'lastName' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Username :</label>
												</div>
											</div>
											<div class="col-lg-10">
												<div class="row">
													{{ form_widget(gdForm.username, { 'id': 'username' }) }}
												</div>
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Email :</label>
												</div>
											</div>
											<div class="col-lg-10">
												{% for email in gdForm.emails %}
													<div class="row">
														{{ form_widget(email.email, { 'id': 'email' }) }}
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="editformblk1 clearfix">
											<div class="col-lg-2">
												<div class="row">
													<label>Contact No. :</label>
												</div>
											</div>
											<div class="col-lg-10">
												{% for contact in gdForm.contacts %}
													<div class="row">
														{{ form_widget(contact.contactNumber, { 'id': 'contactNumber' }) }}
													</div>
												{% endfor %}
											</div>
										</div>
										{{ form_end(gdForm) }}
										<!--save and cancel button-->
										<div class="savecancel">
											<ul>
												<li><a id="basicInfoUpdate" href="javascript:void(0);">save</a></li>
												<li><a id="basicInfoCancel" href="javascript:void(0)">cancel</a></li>
											</ul>
										</div>
										<!--save and cancel button-->
									</div>
								</div>
								<!--basic info form-->
								<!--password-->
								<div id="changePass">
									<div class="editformblk clearfix">
										<div class="col-lg-2">
											<div class="row">&nbsp;</div>
										</div>
										<div class="col-lg-6">
											<div class="row">&nbsp;</div>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<a id="changePassShow" href="javascript:void(0)">Change Password</a>
											</div>
										</div>
									</div>
								</div>
								<div id="changePassBox">
									<div class="basicInfoEditableForm2 clearfix">
										<div class="">
                                            {{ form_start(cpForm, { 'action': url('client_profile_page'), 'attr': { 'id': 'cpForm', 'novalidate': 'novalidate' } }) }}
                                            <div id="cpServerFault" class="row message" style="display: none;">
                                                <div class="col-lg-12">
                                                    Server error encountered.
                                                </div>
                                            </div>
                                            <div class="editformblk2 clearfix">
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.oldPassword, { 'id': 'oldPassword', 'attr': { 'placeholder': 'Old Password' } }) }}
                                                </div>
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.password, { 'id': 'password', 'attr': { 'placeholder': 'New Password' } }) }}
                                                </div>
                                                <div class="col-lg-4">
                                                    {{ form_widget(cpForm.repeatPassword, { 'id': 'repeatPassword', 'attr': { 'placeholder': 'Repeat Password' } }) }}
                                                </div>
                                            </div>
                                            <!--save and cancel button-->
                                            <div class="savecancel">
                                                <ul>
                                                    <li><a id="changePassButton" href="javascript:void(0);">save</a></li>
                                                    <li><a id="changePassCancel" href="javascript:void(0)">cancel</a></li>
                                                </ul>
                                            </div>
                                            <!--save and cancel button-->
                                            {{ form_end(cpForm) }}
										</div>
									</div>
								</div>
								<!--password-->
							</div>
							<!--edit block-->
						</div>
					</div>
                    <!--billing address-->
                    <!--heading-->
                    <div class="editHeading-1 clearfix">
                        <ul>
                            <li><h2>Billing Address</h2></li>
                        </ul>
                    </div>
                    <!--heading-->
					{{ form_start(aForm, { 'attr': { 'id': 'aForm', 'novalidate': 'novalidate' } }) }}
						{% if aForm.addresses %}
							{% for key, address in aForm.addresses if 1 == address.vars.value.addressTypeId.id %}
								<div class="editBlk-1">
									<div class="row aServerFault message" style="display: none;">
										<div class="col-lg-12">
											Server error encountered.
										</div>
									</div>
									<div class="billingAddress">
										<div class="editformblk clearfix">
											<div class="col-lg-6">
												<div class="row">
													<label>{{ address.vars.value.addressLine1 }}, {{ address.vars.value.stateId.name }}-{{ address.vars.value.zipCode }}</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="row">
													{% if address.vars.value.isPrimary %}
														<div class="default">Default Billing Address</div>
													{% endif %}
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="edit">
														<a class="editBillAdd" href="javascript:void(0)">edit</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="billingAddForm clearfix" style="display: none;">
										
										<table width="100%" cellpadding="0" cellspacing="0">
											<tr>
												<!--left-->
												<td valign="top" class="billAddLeft">
													<table width="100%" cellpadding="0" cellspacing="0">
														<tr>
															<td>
																<input type="hidden" name="addressId[{{ address.vars.value.id }}]" value="{{ address.vars.value.id }}" class="addressId">
																{{ form_widget(address.addressTypeId, { 'attr': { 'class': 'addressTypeId' } }) }}
																{{ form_widget(address.addressLine1, { 'attr': { 'class': 'addressLine1', 'placeholder': 'Address Line 1' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																{{ form_widget(address.addressLine2, { 'attr': { 'class': 'addressLine2', 'placeholder': 'Address Line 2' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																{{ form_widget(address.countryId, { 'attr': { 'class': 'countryId' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																<table width="100%" cellpadding="0" cellspacing="0" width="48%">
																	<tr>
																		<td class="textLeft">
																			{{ form_widget(address.stateId, { 'attr': { 'class': 'stateId' } }) }}
																		</td>
																		<td class="textRight">
																			{{ form_widget(address.cityId, { 'attr': { 'class': 'cityId' } }) }}
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
												<!--left-->
												<!--right-->
												<td valign="top" class="billAddRight">
													<table width="100%" cellpadding="0" cellspacing="0">
														<tr>
															<td>
																{{ form_widget(address.zipCode, { 'attr': { 'class': 'zipCode', 'placeholder': 'Zip Code' } }) }}
															</td>
														</tr>
													</table>
												</td>
												<!--right-->
											</tr>
											<!--default delete save-->
											<tr>
												<td class="defDelSave">
													<div class="col-lg-6">
														<div class="row">
															<div class="checkbox">
																<label>
																	{{ form_widget(address.isPrimary, { 'attr': { 'class': 'isPrimary' } }) }}
																	<span class="cr"><i class="cr-icon glyphicon fa fa-check"></i></span>
																	Default Billing Address
																</label>
															</div>
														</div>
													</div>
													<div class="col-lg-4">
														<div class="row">
															<div class="delAdd">
																<a href="javascript:void(0);" class="deleteAddress">Delete Address</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="row">
															<div class="savecancel">
																<ul>
																	<li><a href="javascript:void(0);" class="updateBillingAddress">save</a></li>
																</ul>
															</div>
														</div>
													</div>
												</td>
											</tr>
											<!--default delete save-->
										</table>
									</div>
								</div>
							{% endfor %}
							<!--add more-->
							<div id="addMoreBillingAddresses" data-prototype="{{ include('NetFlexFrontBundle:Profile:address_prototype.html.twig', { 'address': aForm.addresses.vars.prototype })|e }}">
							</div>
							<div class="billAddMore">
								<a href="javascript:void(0)" id="addMoreBillingAddressesButton"><i class="fa fa-plus"></i>&nbsp;&nbsp;add Another</a>
							</div>
							<!--add more-->
							<!--billing address-->
							<!--pickup address-->
							<!--heading-->
							<div class="editHeading-1 clearfix">
								<ul>
									<li><h2>Pickup Address</h2></li>
								</ul>
							</div>
							<!--heading-->
							{% for address in aForm.addresses if 2 == address.vars.value.addressTypeId.id %}
								<div class="editBlk-1">
									<div class="billingAddress">
										<div class="editformblk clearfix">
											<div class="col-lg-6">
												<div class="row">
													<label>{{ address.vars.value.addressLine1 }}, {{ address.vars.value.stateId.name }}-{{ address.vars.value.zipCode }}</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="row">
													{% if address.vars.value.isPrimary %}
														<div class="default">Default Pickup Address</div>
													{% endif %}
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="edit">
														<a class="editBillAdd" href="javascript:void(0)">edit</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="billingAddForm clearfix" style="display: none;">
										<div class="row aServerFault message" style="display: none;">
											<div class="col-lg-12">
												Server error encountered.
											</div>
										</div>
										<table width="100%" cellpadding="0" cellspacing="0">
											<tr>
												<!--left-->
												<td valign="top" class="billAddLeft">
													<table width="100%" cellpadding="0" cellspacing="0">
														<tr>
															<td>
																<input type="hidden" name="addressId[{{ address.vars.value.id }}]" value="{{ address.vars.value.id }}" class="addressId">
																{{ form_widget(address.addressTypeId, { 'attr': { 'class': 'addressTypeId' } }) }}
																{{ form_widget(address.addressLine1, { 'attr': { 'class': 'addressLine1', 'placeholder': 'Address Line 1' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																{{ form_widget(address.addressLine2, { 'attr': { 'class': 'addressLine2', 'placeholder': 'Address Line 2' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																{{ form_widget(address.countryId, { 'attr': { 'class': 'countryId' } }) }}
															</td>
														</tr>
														<tr>
															<td>
																<table width="100%" cellpadding="0" cellspacing="0" width="48%">
																	<tr>
																		<td class="textLeft">
																			{{ form_widget(address.stateId, { 'attr': { 'class': 'stateId' } }) }}
																		</td>
																		<td class="textRight">
																			{{ form_widget(address.cityId, { 'attr': { 'class': 'cityId' } }) }}
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
												<!--left-->
												<!--right-->
												<td valign="top" class="billAddRight">
													<table width="100%" cellpadding="0" cellspacing="0">
														<tr>
															<td>
																{{ form_widget(address.zipCode, { 'attr': { 'class': 'zipCode', 'placeholder': 'Zip Code' } }) }}
															</td>
														</tr>
													</table>
												</td>
												<!--right-->
											</tr>
											<!--default delete save-->
											<tr>
												<td class="defDelSave">
													<div class="col-lg-6">
														<div class="row">
															<div class="checkbox">
																<label>
																	{{ form_widget(address.isPrimary, { 'attr': { 'class': 'isPrimary' } }) }}
																	<span class="cr"><i class="cr-icon glyphicon fa fa-check"></i></span>
																	Default Billing Address
																</label>
															</div>
														</div>
													</div>
													<div class="col-lg-4">
														<div class="row">
															<div class="delAdd">
																<a href="javascript:void(0);" class="deleteAddress">Delete Address</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="row">
															<div class="savecancel">
																<ul>
																	<li><a href="javascript:void(0);" class="updateBillingAddress">save</a></li>
																</ul>
															</div>
														</div>
													</div>
												</td>
											</tr>
											<!--default delete save-->
										</table>
									</div>
								</div>
							{% endfor %}
							<!--add more-->
							<div id="addMorePickupAddresses">
							</div>
							<div class="billAddMore">
								<a href="javascript:void(0)" id="addMorePickupAddressesButton"><i class="fa fa-plus"></i>&nbsp;&nbsp;add Another</a>
							</div>
							<!--add more-->
							<!--pickup address-->
						{% endif %}
					{{ form_end(aForm) }}
				</div>
				<!--information-->
			</div>
		</div>
	</div>
	{% block footer %}
		{{ include('NetFlexFrontBundle:LayoutPartial:footer.html.twig') }}
	{% endblock %}
{% endblock %}
{% block pageScripts %}
	{{ parent() }}
	{% javascripts '@NetFlexFrontBundle/Resources/public/js/idTabs.js'
		'@NetFlexFrontBundle/Resources/public/js/jquery.auto-complete.min.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		$("#usual1 ul").idTabs();
		$(document).ready(function() {
			var existingAddressesCount = $(document).find(".billingAddForm").length;
			
			$("#basicInfoEdit, #basicInfoCancel").on("click", function(e) {
				$("#basicInfo, #basicInfo1").toggle();
			});
			$("#basicInfoUpdate").on("click", function(e) {
                if (! $(this).hasClass("disabled")) {
                    $.ajax({
                        url: $("#gdForm").attr("action"),
                        type: "post",
                        dataType: "json",
                        data: $("#gdForm").serialize(),
                        beforeSend: function(jqXHR, settings) {
                            $("#basicInfoUpdate .message").hide();
                            $("#gdForm .validationError").remove();
                            $("#basicInfoUpdate").addClass("disabled");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#gdServerFault").show();
                        },
                        success: function(data, textStatus,jqXHR) {
                            if (data.status) {
                                location.reload();
                            } else {
                                $.each(data.errorList, function(key, value) {
                                    $("#gdForm #" + key).after("<span class='validationError'>" + value + "</span>");
                                });
                            }
                        },
                        complete: function(jqXHR, textStatus) {
                            $("#basicInfoUpdate").removeClass("disabled");
                        }
                    });
                }
			});

            $("#changePassShow, #changePassCancel").on("click", function(e) {
                $("#changePass, #changePassBox").toggle();
            });

            $("#changePassButton").on("click", function(e) {
                if (! $(this).hasClass("disabled")) {
                    $.ajax({
                        url: $("#cpForm").attr("action"),
                        type: "post",
                        dataType: "json",
                        data: $("#cpForm").serialize(),
                        beforeSend: function(jqXHR, settings) {
                            $("#cpForm .message").hide();
                            $("#cpForm .validationError").remove();
                            $("#changePassButton").addClass("disabled");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#cpServerFault").show();
                        },
                        success: function(data, textStatus,jqXHR) {
                            if (data.status) {
                                location.reload();
                            } else {
                                $.each(data.errorList, function(key, value) {
                                    $("#cpForm #" + key).after("<span class='validationError'>" + value + "</span>");
                                });
                            }
                        },
                        complete: function(jqXHR, textStatus) {
                            $("#changePassButton").removeClass("disabled");
                        }
                    });
                }
            });

            $(".editBillAdd").click(function(){
                $(this).parentsUntil(".editBlk-1").next().toggle();
            });
            $(".updateBillingAddress").on("click", function(e) {
	            var element = $(this);
	            if (! $(this).hasClass("disabled")) {
		            $.ajax({
			            url: "{{ url('update_client_address') }}",
			            type: "post",
			            dataType: "json",
			            data: {
				            'userId': "{{ client.id }}",
				            'addressId': $(this).closest(".billingAddForm").find(".addressId").val(),
				            'addressTypeId': $(this).closest(".billingAddForm").find(".addressTypeId").val(),
				            'addressLine1': $(this).closest(".billingAddForm").find(".addressLine1").val(),
				            'addressLine2': $(this).closest(".billingAddForm").find(".addressLine2").val(),
				            'countryId': $(this).closest(".billingAddForm").find(".countryId").val(),
				            'stateId': $(this).closest(".billingAddForm").find(".stateId").val(),
				            'cityId': $(this).closest(".billingAddForm").find(".cityId").val(),
				            'zipCode': $(this).closest(".billingAddForm").find(".zipCode").val(),
				            'isPrimary': ($(this).closest(".billingAddForm").find(".isPrimary").prop("checked")) ? 1 : 0
			            },
			            beforeSend: function(jqXHR, settings) {
				            $(element).addClass('disabled');
				            $(element).closest(".billingAddForm").find(".aServerFault").hide();
				            $(element).closest(".billingAddForm").find(".aValidationError").remove();
			            },
			            error: function(jqXHR, textStatus, errorThrown) {
				            $(element).closest(".billingAddForm").find(".aServerFault").show();
			            },
			            success: function(data, textStatus,jqXHR) {
				            if (! data.status) {
					            $.each(data.errorList, function(key, value) {
						            if ("isPrimary" === key) {
							            $(element).closest(".billingAddForm").find("." + key).parentsUntil(".col-lg-6").eq(2).after("<span class='aValidationError'>" + value + "</span>");
						            } else {
							            $(element).closest(".billingAddForm").find("." + key).after("<span class='aValidationError'>" + value + "</span>");
						            }
					            });
				            } else {
					            location.reload();
				            }
			            },
			            complete: function(jqXHR, textStatus) {
				            $(element).removeClass('disabled');
			            }
		            });
	            }
            });
			
			$(".deleteAddress").on("click", function() {
				if (! $(this).hasClass("disabled")) {
					$.ajax({
						url: "{{ url('delete_client_address') }}",
						type: "post",
						dataType: "json",
						data: {
							'userId': "{{ client.id }}",
							'addressId': $(this).closest(".billingAddForm").find(".addressId").val()
						},
						beforeSend: function(jqXHR, settings) {
							$(this).addClass('disabled');
							$(this).closest(".billingAddForm").find(".aServerFault").hide();
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$(this).closest(".billingAddForm").find(".aServerFault").show();
						},
						success: function(data, textStatus,jqXHR) {
							location.reload();
						},
						complete: function(jqXHR, textStatus) {
							$(this).removeClass('disabled');
						}
					});
				}
			});
			
			$("#addMoreBillingAddressesButton").on("click", function() {
				var prototype = $("#addMoreBillingAddresses").data("prototype");
				prototype = prototype.replace("/__name__/", existingAddressesCount);
				$("#addMoreBillingAddresses").append(prototype);
				$("#addMoreBillingAddresses").find(".addressTypeId").val(1);
				$(this).hide();
			});
			
			$("#addMoreBillingAddresses").on("click", ".createAddress", function(e) {
				var element = $(this);
				if (! $(this).hasClass('disabled')) {
					$.ajax({
						url: "{{ url('add_client_address') }}",
						type: "post",
						dataType: "json",
						data: {
							'userId': "{{ client.id }}",
							'addressTypeId': $(this).closest(".billingAddForm").find(".addressTypeId").val(),
							'addressLine1': $(this).closest(".billingAddForm").find(".addressLine1").val(),
							'addressLine2': $(this).closest(".billingAddForm").find(".addressLine2").val(),
							'countryId': $(this).closest(".billingAddForm").find(".countryId").val(),
							'stateId': $(this).closest(".billingAddForm").find(".stateId").val(),
							'cityId': $(this).closest(".billingAddForm").find(".cityId").val(),
							'zipCode': $(this).closest(".billingAddForm").find(".zipCode").val(),
							'isPrimary': ($(this).closest(".billingAddForm").find(".isPrimary").prop("checked")) ? 1 : 0
						},
						beforeSend: function(jqXHR, settings) {
							$(element).addClass('disabled');
							$(element).closest(".billingAddForm").find(".aServerFault").hide();
							$(element).closest(".billingAddForm").find(".aValidationError").remove();
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$(this).closest(".billingAddForm").find(".aServerFault").show();
						},
						success: function(data, textStatus,jqXHR) {
							if (! data.status) {
								$.each(data.errorList, function(key, value) {
									if ("isPrimary" === key) {
										$(element).closest(".billingAddForm").find("." + key).parentsUntil(".col-lg-6").eq(2).after("<span class='aValidationError'>" + value + "</span>");
									} else {
										$(element).closest(".billingAddForm").find("." + key).after("<span class='aValidationError'>" + value + "</span>");
									}
								});
							} else {
								location.reload();
							}
						},
						complete: function(jqXHR, textStatus) {
							$(element).removeClass('disabled');
						}
					});
				}
			});
			
			$("#addMoreBillingAddresses").on("click", ".deleteAddress", function(e) {
				$("#addMoreBillingAddresses").empty();
				$("#addMoreBillingAddressesButton").show();
			});
			
			$("#addMorePickupAddressesButton").on("click", function() {
				var prototype = $("#addMoreBillingAddresses").data("prototype");
				prototype = prototype.replace("/__name__/", existingAddressesCount);
				$("#addMorePickupAddresses").append(prototype);
				$("#addMorePickupAddresses").find(".addressTypeId").val(2);
				$(this).hide();
			});
			
			$("#addMorePickupAddresses").on("click", ".createAddress", function(e) {
				var element = $(this);
				if (! $(this).hasClass('disabled')) {
					$.ajax({
						url: "{{ url('add_client_address') }}",
						type: "post",
						dataType: "json",
						data: {
							'userId': "{{ client.id }}",
							'addressTypeId': $(this).closest(".billingAddForm").find(".addressTypeId").val(),
							'addressLine1': $(this).closest(".billingAddForm").find(".addressLine1").val(),
							'addressLine2': $(this).closest(".billingAddForm").find(".addressLine2").val(),
							'countryId': $(this).closest(".billingAddForm").find(".countryId").val(),
							'stateId': $(this).closest(".billingAddForm").find(".stateId").val(),
							'cityId': $(this).closest(".billingAddForm").find(".cityId").val(),
							'zipCode': $(this).closest(".billingAddForm").find(".zipCode").val(),
							'isPrimary': ($(this).closest(".billingAddForm").find(".isPrimary").prop("checked")) ? 1 : 0
						},
						beforeSend: function(jqXHR, settings) {
							$(element).addClass('disabled');
							$(element).closest(".billingAddForm").find(".aServerFault").hide();
							$(element).closest(".billingAddForm").find(".aValidationError").remove();
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$(element).closest(".billingAddForm").find(".aServerFault").show();
						},
						success: function(data, textStatus,jqXHR) {
							if (! data.status) {
								if ("isPrimary" === key) {
									$(element).closest(".billingAddForm").find("." + key).parentsUntil(".col-lg-6").eq(2).after("<span class='aValidationError'>" + value + "</span>");
								} else {
									$(element).closest(".billingAddForm").find("." + key).after("<span class='aValidationError'>" + value + "</span>");
								}
							} else {
								location.reload();
							}
						},
						complete: function(jqXHR, textStatus) {
							$(element).removeClass('disabled');
						}
					});
				}
			});
			
			$("#addMorePickupAddresses").on("click", ".deleteAddress", function(e) {
				$("#addMorePickupAddresses").empty();
				$("#addMorePickupAddressesButton").show();
			});
			
			$(".countryId").autoComplete({
				minChars: 1,
				delay: 50,
				source: function(term, suggest) {
					$.getJSON("{{ url('get_country_list') }}", { "countryHint": term }, function(data){ suggest(data.countryList) });
				}
			});
			$(".stateId").autoComplete({
				minChars: 1,
				delay: 50,
				source: function(term, suggest){
					$.ajax({
						url: "{{ url('get_state_list') }}",
						method: "get",
						dataType: "json",
						data: {
							"countryName": $(".stateId:focus").closest(".billingAddForm").find(".countryId").val(),
							"stateHint": term
						},
						success: function(data) {
							suggest(data.stateList)
						}
					});
				}
			});
			$(".cityId").autoComplete({
				minChars: 1,
				delay: 50,
				source: function(term, suggest){
					$.ajax({
						url: "{{ url('get_city_list') }}",
						method: "get",
						dataType: "json",
						data: {
							"countryName": $(".cityId:focus").closest(".billingAddForm").find(".countryId").val(),
							"stateName": $(".cityId:focus").closest(".billingAddForm").find(".stateId").val(),
							"cityHint": term
						},
						success: function(data) {
							suggest(data.cityList)
						}
					});
				}
			});
			
			$("#editImage").on("click", function() {
				$(".ppValidationError").remove();
				$("#uploadImageContainer").toggle();
			});
			$("#cancelImageUpload").on("click", function() {
				$(".ppValidationError").remove();
				$("#profileImage").val("");
				$("#uploadImageContainer").hide();
			});
		});
	</script>
{% endblock %}