{% set currentRoute = app.request.attributes.get('_route') %}
<ul class="main-navigation-menu">
    <li class="{{ ('dashboard' == currentRoute) ? 'active open' : '' }}">
        <a href="{{ url('dashboard') }}"><i class="clip-home-3"></i>
            <span class="title"> Dashboard Home </span><span class="{{ ('dashboard' == currentRoute) ? 'selected' : '' }}"></span>
        </a>
    </li>
    <li class="{{ (currentRoute in ['client_list', 'register_client_from_dashboard', 'edit_client_profile_from_dashboard', 'view_client_profile_in_dashboard', 'book_a_client_shipment_from_dashboard', 'client_order_list']) ? 'active open' : '' }}">
        <a href="javascript:void(0);">
            <i class="clip-users"></i>
            <span class="title"> Client </span>
            <i class="icon-arrow"></i>
        </a>
        <ul class="sub-menu">
            <li class="{{ ('client_list' == currentRoute) ? 'active open' : '' }}">
                <a href="{{ url('client_list') }}">
                    Client List
                </a>
            </li>
            <li class="{{ ('register_client_from_dashboard' == currentRoute) ? 'active open' : '' }}">
                <a href="{{ url('register_client_from_dashboard') }}">
                    Register New Client
                </a>
            </li>
        </ul>
    </li>
    <li class="{{ (currentRoute in ['order_list', 'edit_order', 'view_order', 'change_order_status', 'change_order_payment_status']) ? 'active
    open' : '' }}">
        <a href="{{ url('order_list') }}">
            <i class="fa fa-shopping-cart"></i>
            <span class="title"> Orders </span>
        </a>
    </li>
    <li class="{{ (currentRoute in ['dashboard_shipment_track_status_list', 'dashboard_shipment_track_status_edit', 'dashboard_payment_status_list', 'dashboard_payment_status_edit', 'change_payment_status', 'list_mail_templates', 'edit_mail_template']) ? 'active open' :
    '' }}">
        <a href="javascript:void(0);">
            <i class="clip-settings"></i>
            <span class="title"> Settings </span>
            <i class="icon-arrow"></i>
        </a>
        <ul class="sub-menu">
            <li class="{{ (currentRoute in ['dashboard_shipment_track_status_list', 'dashboard_shipment_track_status_edit', 'change_order_status']) ? 'active open' : '' }}">
                <a href="{{ url('dashboard_shipment_track_status_list') }}">
                    <i class="clip-location"></i>
                    <span class="title"> Track Statuses </span>
                </a>
            </li>
            <li class="{{ (currentRoute in ['dashboard_payment_status_list', 'dashboard_payment_status_edit', 'change_payment_status', 'change_order_payment_status']) ? 'active open' : '' }}">
                <a href="{{ url('dashboard_payment_status_list') }}">
                    <i class="fa fa-rupee"></i>
                    <span class="title"> Payment Statuses </span>
                </a>
            </li>
            <li class="{{ (currentRoute in ['list_mail_templates', 'edit_mail_template']) ? 'active open' : '' }}">
                <a href="{{ url('list_mail_templates') }}">
                    <i class="fa fa-envelope"></i>
                    <span class="title"> Mail Templates </span>
                </a>
            </li>
        </ul>
    </li>
    {#<li class="{{ (currentRoute in ['media_list', 'multi_media_upload']) ? 'active open' : '' }}">
        <a href="javascript:void(0);">
            <i class="clip-camera"></i>
            <span class="title"> Media </span>
            <i class="icon-arrow"></i>
        </a>
        <ul class="sub-menu">
            <li class="{{ ('media_list' == currentRoute) ? 'active open' : '' }}">
                <a href="{{ url('media_list') }}">
                    Media List
                </a>
            </li>
            <li class="{{ ('multi_media_upload' == currentRoute) ? 'active open' : '' }}">
                <a href="{{ url('multi_media_upload') }}">
                    Upload Multiple Media
                </a>
            </li>
        </ul>
    </li>#}
</ul>