{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pickupfirstname</th>
                <th>Pickupmidname</th>
                <th>Pickuplastname</th>
                <th>Pickupaddressline1</th>
                <th>Pickupaddressline2</th>
                <th>Pickupzipcode</th>
                <th>Pickuplandmark</th>
                <th>Pickupemail</th>
                <th>Pickupcontactnumber</th>
                <th>Billingfirstname</th>
                <th>Billingmidname</th>
                <th>Billinglastname</th>
                <th>Billingaddressline1</th>
                <th>Billingaddressline2</th>
                <th>Billingzipcode</th>
                <th>Billinglandmark</th>
                <th>Billingemail</th>
                <th>Billingcontactnumber</th>
                <th>Shippingfirstname</th>
                <th>Shippingmidname</th>
                <th>Shippinglastname</th>
                <th>Shippingaddressline1</th>
                <th>Shippingaddressline2</th>
                <th>Shippingzipcode</th>
                <th>Shippinglandmark</th>
                <th>Shippingemail</th>
                <th>Shippingcontactnumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.pickupFirstName }}</td>
                <td>{{ address.pickupMidName }}</td>
                <td>{{ address.pickupLastName }}</td>
                <td>{{ address.pickupAddressLine1 }}</td>
                <td>{{ address.pickupAddressLine2 }}</td>
                <td>{{ address.pickupZipCode }}</td>
                <td>{{ address.pickupLandMark }}</td>
                <td>{{ address.pickupEmail }}</td>
                <td>{{ address.pickupContactNumber }}</td>
                <td>{{ address.billingFirstName }}</td>
                <td>{{ address.billingMidName }}</td>
                <td>{{ address.billingLastName }}</td>
                <td>{{ address.billingAddressLine1 }}</td>
                <td>{{ address.billingAddressLine2 }}</td>
                <td>{{ address.billingZipCode }}</td>
                <td>{{ address.billingLandMark }}</td>
                <td>{{ address.billingEmail }}</td>
                <td>{{ address.billingContactNumber }}</td>
                <td>{{ address.shippingFirstName }}</td>
                <td>{{ address.shippingMidName }}</td>
                <td>{{ address.shippingLastName }}</td>
                <td>{{ address.shippingAddressLine1 }}</td>
                <td>{{ address.shippingAddressLine2 }}</td>
                <td>{{ address.shippingZipCode }}</td>
                <td>{{ address.shippingLandMark }}</td>
                <td>{{ address.shippingEmail }}</td>
                <td>{{ address.shippingContactNumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('address_show', { 'id': address.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('address_edit', { 'id': address.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_new') }}">Create a new address</a>
        </li>
    </ul>
{% endblock %}
