{% use 'bootstrap_3_layout.html.twig' %}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label %}

{# Checkboxes #}

{%- block checkbox_widget -%}
	<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{# Radios #}

{% block radio_widget -%}
	<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget %}

{# Errors #}

{% block form_errors -%}
	{% if errors|length > 0 -%}
        {%- for error in errors -%}
            <span class="help-block">{{ error.message }}</span>
        {%- endfor -%}
	{%- endif %}
{%- endblock form_errors %}