{% form_theme registerClientForm 'NetFlexDashboardBundle::form_layout.html.twig' %}

<div class="row">
	<div class="col-md-12">
		<div class="row form-group">
			{{ form_label(thisEmail.email, 'Email', { 'label_attr': { 'class': 'col-md-4' } }) }}
			<div class="col-md-8">
				{{ form_widget(thisEmail.email, { 'required': false, 'attr': { 'placeholder': 'Email' } }) }}
				{{ form_errors(thisEmail.email) }}
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-8">
				<label class="checkbox-inline">
					{{ form_widget(thisEmail.isPrimary, { 'attr': { 'class': 'primary-email-selector flat-grey', 'style': 'margin-top: 0px !important;' } }) }}&nbsp;&nbsp;Set As Primary
					{{ form_errors(thisEmail.isPrimary) }}
				</label>
			</div>
		</div>
		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-8">
				<a href="javascript:void(0);" class="remove-email-button">Remove</a>
			</div>
		</div>
	</div>
</div>

<script>
	jQuery('input[type="checkbox"].flat-grey').iCheck({
		checkboxClass: 'icheckbox_flat-grey',
	});
</script>

