{% extends 'NetFlexDashboardBundle::layout.html.twig' %}

{% block pageTitle %}
    {{ parent() }} :: {{ pageTitle }}
{% endblock %}

{% block pageStyles %}
    {{ parent() }}
    {% stylesheets 'bundles/netflexdashboard/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/netflexdashboard/plugins/bootstrap-modal/css/bootstrap-modal.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        @media screen {
            #printSection {
                display: none;
            }
        }
        @media print {
            body * {
                visibility:hidden;
            }
            #printSection, #printSection * {
                visibility:visible;
            }
            #printSection {
                position:absolute;
                left:0;
                top:0;
            }
        }
    </style>
{% endblock %}

{% block pageHeader %}
    {{ pageHeader|raw }}
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <a href="#full-width" data-toggle="modal" class="demo btn btn-primary pull-right"><i class="fa fa-print"></i> Print Invoice</a>
        </div>
        <div class="col-md-2">
            <a href="{{ referrer }}" class="btn btn-primary pull-right"><i class="fa fa-arrow-circle-o-left"></i> Back To List</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>AWB Number</th>
                            <td>
                                {{ orderDetails.awbNumber }}
                            </td>
                        </tr>
                        <tr>
                            <th>Order Date</th>
                            <td>
                                {{ orderDetails.createdOn|date('jS F, Y g:i A') }}
                            </td>
                        </tr>
                        <tr>
                            <th>Goods Type</th>
                            <td>
                                {{ orderDetails.orderItem.itemPrimaryTypeId.itemTypeName() }} > {{ orderDetails.orderItem.itemSecondaryTypeId.itemTypeName() }}
                            </td>
                        </tr>
                        <tr>
                            <th>Parcel Weight</th>
                            <td>
                                {{ (orderDetails.orderItem.itemBaseWeight + orderDetails.orderItem.itemAccountableExtraWeight) }} {{ orderDetails.orderItem.itemWeightUnitId.symbol }}
                            </td>
                        </tr>
                        <tr>
                            <th>Risk Type</th>
                            <td>
                                {{ ('0.00' == orderDetails.orderPrice.orderCarrierRiskAddedCharge) ? 'Own' : 'Courier' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Shipment Type</th>
                            <td>
                                 {{ orderDetails.deliveryChargeId.deliveryModeTimelineId.deliveryModeId.modeName }}
                            </td>
                        </tr>
                        <tr>
                            <th>Payment Option</th>
                            <td>
                                {{ ('0.00' == orderDetails.orderPrice.orderCodPaymentAddedCharge or orderDetails.orderPrice.orderCodPaymentAddedCharge is null) ? 'Non-COD' : 'COD' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Shipment Amount</th>
                            <td>
                                {{ orderDetails.orderPrice.orderPriceUnitId.currencySymbol }} {{ (orderDetails.orderPrice.orderBaseCharge + orderDetails.orderPrice.orderExtraWeightLeviedCharge + orderDetails.orderPrice.orderCodPaymentAddedCharge + orderDetails.orderPrice.orderCarrierRiskAddedCharge + orderDetails.orderPrice.orderFuelSurchargeAddedCharge + orderDetails.orderPrice.orderServiceTaxAddedCharge) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ orderDetails.orderAddress.billingFirstName ~ ((orderDetails.orderAddress.billingMidName) ? ' ' ~ orderDetails.orderAddress.billingMidName : '') ~ ' ' ~ orderDetails.orderAddress.billingLastName }}</th>
                            </tr>
                            <tr>
                                <td>{{ orderDetails.orderAddress.billingAddressLine1 ~ ((orderDetails.orderAddress.billingAddressLine2) ? '; ' ~ orderDetails.orderAddress.billingAddressLine2 : '') }}</td>
                            </tr>
                            <tr>
                                <td>{{ orderDetails.orderAddress.billingCityId.name ~ ', ' ~ orderDetails.orderAddress.billingStateId.name ~ ' - ' ~ orderDetails.orderAddress.billingZipCode }}</td>
                            </tr>
                            <tr>
                                <td>Ph: {{ orderDetails.orderAddress.billingContactNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>To</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ orderDetails.orderAddress.shippingFirstName ~ ((orderDetails.orderAddress.shippingMidName) ? ' ' ~ orderDetails.orderAddress.shippingMidName : '') ~ ' ' ~ orderDetails.orderAddress.shippingLastName }}</th>
                            </tr>
                            <tr>
                                <td>{{ orderDetails.orderAddress.shippingAddressLine1 ~ ((orderDetails.orderAddress.shippingAddressLine2) ? '; ' ~ orderDetails.orderAddress.shippingAddressLine2 : '') }}</td>
                            </tr>
                            <tr>
                                <td>{{ orderDetails.orderAddress.shippingCityId.name ~ ', ' ~ orderDetails.orderAddress.shippingStateId.name ~ ' - ' ~ orderDetails.orderAddress.shippingZipCode }}</td>
                            </tr>
                            <tr>
                                <td>Ph: {{ orderDetails.orderAddress.shippingContactNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Current Order Status</th>
                                <td>{{ trackStatusList[orderDetails.orderStatus] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Current Payment Status</th>
                            <td>{{ paymentStatusList[orderDetails.paymentStatus] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="full-width" class="modal container fade" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">Print Invoice</h4>
        </div>
        <div class="modal-body">
            <div id="printThis">
                <table width="100%" cellpadding="0" cellspacing="10" align="center" style="font-family:arial; font-size:14px;">
                    <tr>
                        <td align="center" colspan="2">
                            {% image '@NetFlexFrontBundle/Resources/public/images/netflexLogo.png' %}
                            <img src="{{ asset_url }}" alt="Netflex-logo" border="0" width="200">
                            {% endimage %}
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30%" style="padding: 10px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #000;">
                                <tr>
                                    <td style="background:#eee; padding:5px; font-weight:bold;">Sender Details</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupFirstName ~ ((orderDetails.orderAddress.pickupMidName) ? ' ' ~ orderDetails.orderAddress.pickupMidName : '') ~ ' ' ~ orderDetails.orderAddress.pickupLastName }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupAddressLine1 ~ ((orderDetails.orderAddress.pickupAddressLine2) ? '; ' ~ orderDetails.orderAddress.pickupAddressLine2 : '') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupCityId.name ~ ', ' ~ orderDetails.orderAddress.pickupStateId.name ~ ' - ' ~ orderDetails.orderAddress.pickupZipCode }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Ph: {{ orderDetails.orderAddress.pickupContactNumber }}</td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #000;">
                                <tr>
                                    <td style="background:#eee; padding:5px; font-weight:bold;">Reciever Details</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingFirstName ~ ((orderDetails.orderAddress.shippingMidName) ? ' ' ~ orderDetails.orderAddress.shippingMidName : '') ~ ' ' ~ orderDetails.orderAddress.shippingLastName }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingAddressLine1 ~ ((orderDetails.orderAddress.shippingAddressLine2) ? '; ' ~ orderDetails.orderAddress.shippingAddressLine2 : '') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingCityId.name ~ ', ' ~ orderDetails.orderAddress.shippingStateId.name ~ ' - ' ~ orderDetails.orderAddress.shippingZipCode }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Ph: {{ orderDetails.orderAddress.shippingContactNumber }}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="70%" valign="top" style="padding: 10px;">
                            <table width="100%" cellpadding="0" cellspacing="0"  border="0" align="center"  style="border:1px solid #000;">
                                <tr>
                                    <td style="padding:5px;" width="30%">AWB Number</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td width="69%">{{ orderDetails.awbNumber }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Order Number</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.invoiceNumber }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Order Date</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.createdOn|date('jS F, Y g:i A') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Goods Type </td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.orderItem.itemPrimaryTypeId.itemTypeName() }} > {{ orderDetails.orderItem.itemSecondaryTypeId.itemTypeName() }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Parcel Weight </td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ (orderDetails.orderItem.itemBaseWeight + orderDetails.orderItem.itemAccountableExtraWeight)|number_format(2) }} {{ orderDetails.orderItem.itemWeightUnitId.symbol }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Payment Option</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ ('0.00' == orderDetails.orderPrice.orderCodPaymentAddedCharge or orderDetails.orderPrice.orderCodPaymentAddedCharge is null) ? 'Non-COD' : 'COD' }}</td>
                                </tr>
                                {% if (orderDetails.orderPrice.orderCodPaymentAddedCharge) %}
                                    <tr>
                                        <td style="padding:5px;">COD Amount To Be Collected</td>
                                        <td width="1%" style="padding:5px;" valign="top">:</td>
                                        <td>INR {{ orderDetails.orderPrice.orderCodPaymentAddedCharge }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                            <br>
                            <table width="100%" cellpadding="0" cellspacing="0"  border="0" align="center"  style="border:1px solid #000;">
                                <tr>
                                    <td style="padding:5px; height:100px;" width="30%" valign="top">Client Name</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td width="69%" valign="top"></td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="print-button" class="btn btn-primary">
                <i class="fa fa-print"></i> Print
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    {{ parent() }}
    {% javascripts '@NetFlexDashboardBundle/Resources/public/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@NetFlexDashboardBundle/Resources/public/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
        
        jQuery("#print-button").click(function(e) {
            printElement(document.getElementById("printThis"));
        });
    </script>
{% endblock %}