{% extends 'NetFlexFrontBundle::base_layout.html.twig' %}
{% block pageTitle %}
	{{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageStyles %}
	{{ parent() }}
	{% stylesheets 'bundles/netflexdashboard/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
		'bundles/netflexdashboard/plugins/bootstrap-modal/css/bootstrap-modal.css' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
	<style>
		@media screen {
			#printSection {
				display: none;
			}
		}
		@media print {
			body * {
				visibility:hidden;
			}
			#printSection, #printSection * {
				visibility:visible;
			}
			#printSection {
				position:absolute;
				left:0;
				top:0;
			}
		}
	</style>
{% endblock %}
{% block pageContent %}
	<div class="container">
		<div class="tabform clearfix">
			{% if app.session.flashbag.peek('error') %}
				<div class="alert alert-danger server-message">
					<button data-dismiss="alert" class="close">×</button>
					<i class="fa fa-times-circle"></i>
					{% for error in app.session.flashbag.get('error') %}
						<strong>Oh snap!</strong> {{ error }}.
					{% endfor %}
				</div>
			{% endif %}
			{% if app.session.flashbag.peek('success') %}
				<div class="alert alert-success server-message">
					<button data-dismiss="alert" class="close">×</button>
					<i class="fa fa-check-circle"></i>
					{% for success in app.session.flashbag.get('success') %}
						<strong>Well done!</strong> {{ success }}.
					{% endfor %}
				</div>
			{% endif %}
			<div class="TrackHead clearfix">
				<!--title-->
				<div class="col-lg-6">
					<div class="row">
						<h1><span>Shipment</span> Status</h1>
					</div>
				</div>
				<!--title-->
				<!--button-->
				<div class="col-lg-6">
					<div class="row">
						<ul class="printInvoice">
							<li><a href="#full-width" data-toggle="modal">Print Invoice</a></li>
							<li><a href="{{ url('client_email_invoice', { 'awbNumber': orderDetails.awbNumber }) }}">email Invoice</a></li>
						</ul>
					</div>
				</div>
				<!--button-->
			</div>
			<!--track table-->
			<div class="tracktable clearfix">
				<!--left section-->
				<div class="col-lg-4">
					<div class="row">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td><span>AWB Number :</span></td>
								<td><span>{{ orderDetails.awbNumber }}</span></td>
							</tr>
							<tr>
								<td><span>Order Date :</span></td>
								<td>{{ orderDetails.createdOn|date('j F, Y g:i A') }}</td>
							</tr>
							<tr>
								<td><span>Goods Type :</span></td>
								<td>{{ orderDetails.orderItem.itemPrimaryTypeId.itemTypeName }} > {{ orderDetails.orderItem.itemSecondaryTypeId.itemTypeName }}</td>
							</tr>
							<tr>
								<td><span>Parcel Weight :</span></td>
								<td><span>{{ (orderDetails.orderItem.itemBaseWeight + orderDetails.orderItem.itemAccountableExtraWeight)|number_format(2) }}</span> {{ orderDetails.orderItem.itemWeightUnitId.symbol }}</td>
							</tr>
							<tr>
								<td><span>Risk Type :</span></td>
								<td>{{ ('0.00' == orderDetails.orderPrice.orderCarrierRiskAddedCharge) ? 'Own Risk' : 'Courier Risk' }}</td>
							</tr>
							<tr>
								<td><span>Shipment Type :</span></td>
								<td>{{ orderDetails.deliveryChargeId.deliveryModeTimelineId.deliveryModeId.modeName }}</td>
							</tr>
						</table>
					</div>
				</div>
				<!--left section-->
				<div class="col-lg-1"><div class="row"></div></div>
				<!--right section-->
				<div class="col-lg-7">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="tblfrom">
									<h2>From</h2>
									<h3>{{ orderDetails.orderAddress.pickupFirstName ~ ((orderDetails.orderAddress.pickupMidName) ? ' ' ~ orderDetails.orderAddress.pickupMidName : '') ~ ' ' ~ orderDetails.orderAddress.pickupLastName }}</h3>
									<p>
                                        {{ orderDetails.orderAddress.pickupAddressLine1 ~ ((orderDetails.orderAddress.pickupAddressLine2) ? '; ' ~ orderDetails.orderAddress.pickupAddressLine2 : '') }}<br/>
                                        {{ orderDetails.orderAddress.pickupCityId.name ~ ', ' ~ orderDetails.orderAddress.pickupStateId.name ~ ' - ' ~ orderDetails.orderAddress.pickupZipCode }}<br/>
										Ph : {{ (orderDetails.orderAddress.pickupContactNumber) ? orderDetails.orderAddress.pickupContactNumber : 'N/A' }}
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="tblto">
									<h2>To</h2>
									<h3>{{ orderDetails.orderAddress.shippingFirstName ~ ((orderDetails.orderAddress.shippingMidName) ? ' ' ~ orderDetails.orderAddress.shippingMidName : ' ' ~ orderDetails.orderAddress.shippingLastName) }}</h3>
									<p>
										{{ orderDetails.orderAddress.shippingAddressLine1 ~ ((orderDetails.orderAddress.shippingAddressLine2) ? ' ' ~ orderDetails.orderAddress.shippingAddressLine2 : '') }}<br/>
										{{ orderDetails.orderAddress.shippingCityId.name }}, {{ orderDetails.orderAddress.shippingStateId.name }} - {{ orderDetails.orderAddress.shippingZipCode }}<br/>
										Ph : {{ orderDetails.orderAddress.shippingContactNumber }}
									</p>
								</div>
							</div>
						</div>
                        <!--track status-->
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="trackstatus">
                                    <ul class="trackHeadline clearfix">
                                        {% for orderTrackStatus in orderTrackStatuses %}
                                            <li class="approve">{{ orderTrackStatus.name|upper }}</li>
                                        {% endfor %}
                                    </ul>
	                                <ul class="trackbar clearfix">
		                                {% for i in 1..orderDetails.orderStatus %}
			                                <li class="approveLine">
				                                <a href="javascript:void(0);" class="redDotOne{{ (5 == i) ? ' sucess': '' }}" data-toggle="tooltip" data-placement="bottom"  title="{{ trackStatusList[i] }}"></a>
												{% if 5 == i %}
                                                    <span class="item-del">
                                                        Received For
                                                        &nbsp;
                                                        <small>
                                                            {{ orderDetails.orderAddress.shippingFirstName ~ ((orderDetails.orderAddress.shippingMidName) ? ' ' ~ orderDetails.orderAddress.shippingMidName : ' ' ~ orderDetails.orderAddress.shippingLastName) }}
                                                        </small>
                                                    </span>
                                                {% endif %}
			                                </li>
		                                {% endfor %}
	                                </ul>
                                </div>
                            </div>
                        </div>
                        <!--track status-->
					</div>
				</div>
				<!--right section-->
			</div>
			<!--track table-->
		</div>
	</div>
	<div id="full-width" class="modal modal-lg container fade" tabindex="-1" style="display: none;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title">Print Invoice</h4>
		</div>
		<div class="modal-body">
            <div id="printThis">
                <table width="100%" cellpadding="0" cellspacing="10" align="center" style="font-family:arial; font-size:14px;">
                    <tr>
                        <td align="center" colspan="2">
                            {% image '@NetFlexFrontBundle/Resources/public/images/netflexLogo.png' %}
                            <img src="{{ asset_url }}" alt="Netflex-logo" border="0" width="200">
                            {% endimage %}
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30%" style="padding: 10px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #000;">
                                <tr>
                                    <td style="background:#eee; padding:5px; font-weight:bold;">Sender Details</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupFirstName ~ ((orderDetails.orderAddress.pickupMidName) ? ' ' ~ orderDetails.orderAddress.pickupMidName : '') ~ ' ' ~ orderDetails.orderAddress.pickupLastName }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupAddressLine1 ~ ((orderDetails.orderAddress.pickupAddressLine2) ? '; ' ~ orderDetails.orderAddress.pickupAddressLine2 : '') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.pickupCityId.name ~ ', ' ~ orderDetails.orderAddress.pickupStateId.name ~ ' - ' ~ orderDetails.orderAddress.pickupZipCode }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Ph: {{ orderDetails.orderAddress.pickupContactNumber }}</td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #000;">
                                <tr>
                                    <td style="background:#eee; padding:5px; font-weight:bold;">Reciever Details</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingFirstName ~ ((orderDetails.orderAddress.shippingMidName) ? ' ' ~ orderDetails.orderAddress.shippingMidName : '') ~ ' ' ~ orderDetails.orderAddress.shippingLastName }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingAddressLine1 ~ ((orderDetails.orderAddress.shippingAddressLine2) ? '; ' ~ orderDetails.orderAddress.shippingAddressLine2 : '') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">{{ orderDetails.orderAddress.shippingCityId.name ~ ', ' ~ orderDetails.orderAddress.shippingStateId.name ~ ' - ' ~ orderDetails.orderAddress.shippingZipCode }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Ph: {{ orderDetails.orderAddress.shippingContactNumber }}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="70%" valign="top" style="padding: 10px;">
                            <table width="100%" cellpadding="0" cellspacing="0"  border="0" align="center"  style="border:1px solid #000;">
                                <tr>
                                    <td style="padding:5px;" width="30%">AWB Number</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td width="69%">{{ orderDetails.awbNumber }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Order Number</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.invoiceNumber }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Order Date</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.createdOn|date('jS F, Y g:i A') }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Goods Type </td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ orderDetails.orderItem.itemPrimaryTypeId.itemTypeName() }} > {{ orderDetails.orderItem.itemSecondaryTypeId.itemTypeName() }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Parcel Weight </td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ (orderDetails.orderItem.itemBaseWeight + orderDetails.orderItem.itemAccountableExtraWeight)|number_format(2) }} {{ orderDetails.orderItem.itemWeightUnitId.symbol }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Payment Option</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td>{{ (orderDetails.orderPrice.orderCodPaymentAddedCharge is null or '0.00' == orderDetails.orderPrice.orderCodPaymentAddedCharge) ? 'Non-COD' : 'COD' }}</td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" cellpadding="0" cellspacing="0"  border="0" align="center"  style="border:1px solid #000;">
                                <tr>
                                    <td style="padding:5px; height:100px;" width="30%" valign="top">Client Name</td>
                                    <td width="1%" style="padding:5px;" valign="top">:</td>
                                    <td width="69%" valign="top"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
		</div>
		<div class="modal-footer">
			<button type="button" id="print-button" class="btn btn-primary">
				<i class="fa fa-print"></i> Print
			</button>
			<button type="button" data-dismiss="modal" class="btn btn-primary">
				<i class="fa fa-times"></i> Cancel
			</button>
		</div>
	</div>
	{% block footer %}
		{{ include('NetFlexFrontBundle:LayoutPartial:footer.html.twig') }}
	{% endblock %}
{% endblock %}
{% block pageScripts %}
	{{ parent() }}
	{% javascripts '@NetFlexDashboardBundle/Resources/public/plugins/bootstrap-modal/js/bootstrap-modal.js'
		'@NetFlexDashboardBundle/Resources/public/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		function printElement(elem) {
			var domClone = elem.cloneNode(true);

			var $printSection = document.getElementById("printSection");

			if (!$printSection) {
				var $printSection = document.createElement("div");
				$printSection.id = "printSection";
				document.body.appendChild($printSection);
			}

			$printSection.innerHTML = "";
			$printSection.appendChild(domClone);
			window.print();
		}

		jQuery("#print-button").click(function(e) {
			printElement(document.getElementById("printThis"));
		});
	</script>
{% endblock %}