{% extends 'NetFlexFrontBundle::base_layout.html.twig' %}
{% block pageTitle %}
    {{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageContent %}
    <div class="container">
        <div class="tabform clearfix">
            <h2 class="cong">Congratulations!</h2>
            <h3>Your Shipment has been Successfully Booked</h3>
            <div class="awbPanel clearfix">
                <h4>Your AWB number is</h4>
                <h5>{{ awbNumber }}</h5>
            </div>
            <h6 class="thank">Thank you for for shipping with us</h6>
            <div class="bookBtn"><a href="{{ url('client_book_a_shipment') }}">Book another shipment</a></div>
        </div>
    </div>
    {% block footer %}
        {{ include('NetFlexFrontBundle:LayoutPartial:footer.html.twig') }}
    {% endblock %}
{% endblock %}