{% extends 'NetFlexFrontBundle::inner_layout.html.twig' %}
{% block pageTitle %}
    {{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageContent %}
    <div class="inner-banner">
        {% image '@NetFlexFrontBundle/Resources/public/images/about-banner.jpg' %}
            <img src="{{ asset_url }}" alt="about-us-banner" />
        {% endimage %}
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="about-txt">
                        <h2 class="inner-title">{{ pageHeader }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why-franchisee text-center">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    {{ contents.0.content|raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="vison-container">
        {% image '@NetFlexFrontBundle/Resources/public/images/vision-bg.jpg' %}
            <img src="{{ asset_url }}" alt="vision-bg" />
        {% endimage %}
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6 col-md-offset-6">
                    {{ contents.1.content|raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="misson-container">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-8 col-md-offset-2">
                    {{ contents.2.content|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pageScripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#trackingButton").on("click", function(e) {
                e.preventDefault();

                if ($("#trackingCode").val()) {
                    var trackingUrl = "{{ url('client_view_own_order', { 'awbNumber': '999999999999999' }) }}";
                    trackingUrl = trackingUrl.replace('999999999999999', $("#trackingCode").val().trim());

                    self.location = trackingUrl;
                }
            });

            var highestBox = 0;
            $('.same-height').each(function(){
                if($(this).height() > highestBox){
                    highestBox = $(this).height();
                }
            });

            $(window).load(function() {
                if($(window).width() >= 768) {
                    $('.same-height').height(highestBox);
                }
            });

            $(window).resize(function(){
                if($(window).width() >= 768) {
                    $('.same-height').height(highestBox);
                }
            });
        });
    </script>
{% endblock %}