{% extends 'NetFlexFrontBundle::inner_layout.html.twig' %}
{% block pageTitle %}
    {{ parent() }} : {{ pageTitle }}
{% endblock %}
{% block pageContent %}
    <!--TAB FORM-->
    {{ contents.0.content|raw }}
    <!--TAB FORM-->
    <div class="why-franchisee text-center careers-container">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-10 col-md-offset-1">
                    {{ contents.1.content|raw }}
                </div>
                <div class="col-md-12">
                    {{ contents.2.content|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}