{% extends 'NetFlexFrontBundle::base_layout.html.twig' %}
{% block pageTitle %}
	{{ parent() }}:{{ pageTitle }}
{% endblock %}
{% block pageContent %}
	<!--banner-->
	<div class="container-fluid banner-content">
		<div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner home-banner" role="listbox">
                    <div class="item active">
                        {% image '@NetFlexFrontBundle/Resources/public/images/banner2.jpg' %}
                            <img src="{{ asset_url }}" alt="netflex-home-banner-2">
                        {% endimage %}
                    </div>
                    <div class="item">
                        {% image '@NetFlexFrontBundle/Resources/public/images/banner3.jpg' %}
                            <img src="{{ asset_url }}" alt="netflex-home-banner-3">
                        {% endimage %}
                    </div>
                    <div class="item">
                        {% image '@NetFlexFrontBundle/Resources/public/images/banner4.jpg' %}
                            <img src="{{ asset_url }}" alt="netflex-home-banner-4">
                        {% endimage %}
                    </div>
                </div>
            </div>
			<div class="bannerOverlay">
				<div class="banner">
					<h1>We Deliver <span>On Time</span> <strong>Everytime</strong></h1>
					<a href="{{ url('client_book_a_shipment') }}">Book a Shipment</a>
					<div class="trackSearch">
						<div class="input-group stylish-input-group">
							<input type="text" id="trackingCode" class="form-control" placeholder="Search or Tracking Number">
							<span class="input-group-addon">
                                <button id="trackingButton" type="submit">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--banner-->
{% endblock %}
{% block pageScripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$("#trackingButton").on("click", function(e) {
				e.preventDefault();
				
				if ($("#trackingCode").val()) {
					var trackingUrl = "{{ url('client_view_own_order', { 'awbNumber': '999999999999999' }) }}";
					trackingUrl = trackingUrl.replace('999999999999999', $("#trackingCode").val().trim());
					
					self.location = trackingUrl;
				}
			})
            var bannerTexts = ['<span>Connecting</span> People <strong>Worldwide</strong>', '<span>Excellence</span> Carefully <strong>Delivered</strong>', 'We Deliver <span>On Time</span> <strong>Everytime</strong>'];
            $('#carousel-example-generic').on('slide.bs.carousel', function() {
                var currentIndex = $('div.active').index();
                $(".banner > h1").html(bannerTexts[currentIndex]);
            });
		});
	</script>
{% endblock %}
