{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Isprimary</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td><a href="{{ path('_show', { 'id': email.id }) }}">{{ email.id }}</a></td>
                <td>{{ email.email }}</td>
                <td>{% if email.isPrimary %}Yes{% else %}No{% endif %}</td>
                <td>{% if email.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': email.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': email.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new email</a>
        </li>
    </ul>
{% endblock %}
