{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Orderbasecharge</th>
                <th>Orderextraweightleviedcharge</th>
                <th>Orderrevisedbasecharge</th>
                <th>Orderrevisedextraweightleviedcharge</th>
                <th>Orderinvoiceprice</th>
                <th>Ordercodpaymentaddedcharge</th>
                <th>Orderfuelsurchargeaddedcharge</th>
                <th>Orderservicetaxaddedcharge</th>
                <th>Ordercarrierriskaddedcharge</th>
                <th>Orderoctroicharge</th>
                <th>Orderreturncharge</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td><a href="{{ path('price_show', { 'id': price.id }) }}">{{ price.id }}</a></td>
                <td>{{ price.orderBaseCharge }}</td>
                <td>{{ price.orderExtraWeightLeviedCharge }}</td>
                <td>{{ price.orderRevisedBaseCharge }}</td>
                <td>{{ price.orderRevisedExtraWeightLeviedCharge }}</td>
                <td>{{ price.orderInvoicePrice }}</td>
                <td>{{ price.orderCodPaymentAddedCharge }}</td>
                <td>{{ price.orderFuelSurchargeAddedCharge }}</td>
                <td>{{ price.orderServiceTaxAddedCharge }}</td>
                <td>{{ price.orderCarrierRiskAddedCharge }}</td>
                <td>{{ price.orderOctroiCharge }}</td>
                <td>{{ price.orderReturnCharge }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('price_show', { 'id': price.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('price_edit', { 'id': price.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('price_new') }}">Create a new price</a>
        </li>
    </ul>
{% endblock %}
